<body>

    <h1> Github Gists </h1>

    <form name="form1" method="POST" action="/gists">
    <table>
        <tr>
        <td>Github User</td>
        <td><input type="text" name="user" required></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Search" ></td>
        </tr>
    </table>
    </form>   

    <% if(userValue!=null){ %>    

        <div> Displaying Gists for <%= userValue %> </div>
        <ul>
            <% gists.forEach(function(gist) { %>
                  <li><%= gist.description %> - <%= gist.url %> </li>
            <% }); %>
        </ul>

    <%}%> 

</body>
